
<loan-header></loan-header>
<a routerLink="/loan-desktop" routerLinkActive="active">Car </a><br/>
<a routerLink="/car-list" routerLinkActive="active">Car list</a><br/>
<a routerLink="/clients-list" routerLinkActive="active">Clients list</a><br/>
<a routerLink="/loan-list" routerLinkActive="active">Lista Wypożyczeń</a><br/>
<a routerLink="/new-loan" routerLinkActive="active">Nowe wypożyczenie</a><br/>
<router-outlet></router-outlet>
<loan-footer></loan-footer>